---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";



.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}


.logo {
    display: inline-block;
    width: 120px;
    min-height: 120px;
    max-height: auto;
    margin: 3px;
    padding: 3px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.session-section{
  margin-top: 1em;
}
